<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SmartMovie</title>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no"/>

    <link href="/webjars/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet"/>
</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h1>Categorias</h1>
    </div>

    <div>
        <a class="btn btn-primary" th:href="@{/categorias/cadastro}">Cadastrar nova Categoria</a>
    </div>
    <hr/>

    <div th:if="${categorias != null}">
        <h4>
            Categorias
        </h4>

        <div th:if="${mensagem != null}">
            <div class="alert alert-info" role="alert">
                <span th:text="${mensagem}">mensagem</span>
            </div>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Ação</th>
            </tr>
            </thead>
            <tr th:each="categorias : ${categorias}">
                <td >
                    <a th:type="button" class="btn btn-outline-primary" th:text="${categorias.nome}" th:href="@{/categorias/{id}/generos/listar(id=${categorias.id})}">nome</a>
                </td>
                <td th:text="${categorias.descricao}">descricao</td>
                <td>
                    <a class="btn btn-sm btn-info" th:href="@{/categorias/{id}/atualizar(id=${categorias.id})}">Editar</a>

                </td>
            </tr>
        </table>
    </div>

    <div th:if="${#lists.isEmpty(categorias)}">
        <div class="alert alert-info" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            Nenhuma Categoria Cadastrada!
        </div>
    </div>
    <hr/>

    <a class="btn btn-secondary" href="/home">Voltar</a>
    <hr/>

    <footer class="footer">
        <p>&copy; 2019 SmartMovie</p>
    </footer>

</div>
</body>
</html>