<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />

    <link href="/webjars/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/sweetalert2.min.css"/>
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1>SmartMovie</h1>
            <p class="lead">
                A solução inteligente para os Cinéfilos
            </p>
        </div>

        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-12">
                <h2 style="text-align: center">Faça parte dessa experiência</h2>
                <p style="font-size: 17px; text-align: center">
                    Aqui você pode acessar todas as categorias, e escolher o gênero desejado!
                </p>
                <p style="text-align: center">
                    <a style="text-align: center" class="btn btn-primary btn-lg" href="/categorias/listar">Acessar</a>
                </p>
                <hr />
                <h2 style="text-align: center">Sobre nós</h2>
                <p style="font-size: 15px; text-align: center" >
                    O site SmartMovie foi desenvolvido para você, amante de séries, filmes, e afins, e que
                    está com dificuldades se organizar! Aqui você poderá encontrar todos os seus conteúdos favoritos,
                    que estão organizados de uma forma intuitiva e clara. E o melhor, nossa plataforma é aberta para
                    edição a todos!! Então não se esqueça de cadastrar um conteúdo aqui depois de assisti-lo, para
                    ajudar o próximo usuário! Tem alguma dúvida, ou sugestão? Nos mande uma mensagem!
                </p>
                <p style="text-align: center">
                    <button style="text-align: center" class="btn btn-primary btn-lg" onclick="toggle_div_fun('hide');">Contate-nos</button>
                </p>
            </div>
        </div>
        <div class="container" id="hide" style="display:none">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto text-center">
                    <i class="far fa-paper-plane fa-2x mb-2 text-black"></i>
                    <h2 style="font-size: 21px" class="text-black mb-5">Envie sua mensagem!</h2>
                    <form id="enviarMensagem">
                        <div class="form-group">
                            <label for="nome">Nome</label>
                            <input class="form-control" id="nome" type="text" placeholder="Nome" />
                        </div>
                        <div class="form-group">
                            <label for="contato">Contato</label>
                            <input class="form-control" id="contato" type="text" placeholder="Email e/ou Telefone"
                                />
                        </div>
                        <div class="form-group">
                            <label for="mensagem">Mensagem</label>
                            <textarea rows="4" cols="20 " id="mensagem"
                                class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0"
                                placeholder="O que você deseja nos dizer?" ></textarea>
                        </div>
                        <button type="submit" id="enviarEmail" class="btn btn-primary mx-auto">Enviar</button>
                    </form>
                </div>
            </div>
        </div>

        <hr />
        <footer class="footer">
            <p>&copy; 2019 SmartMovie</p>
        </footer>
    </div>
    <script src="/js/sendEmail.js"></script>
    <script src="/js/sweetalert2.min.js"></script>
    <script src="/js/hide.js"></script>
</body>

</html>